body { 
    background-color: #FFF2D8;
}

#titulo {
    font-size: 30px;
    text-align: center;
}

.texto {
    text-align: center;
    color:red;
    font-size: 20px;
}

#banner {
    width:35%;
    padding: 5px;
    background-color: white;
    margin: 20px;
}

